/*CSS for Edit page for a Comment */
div.commentEdit{
	width:60%;
	background-color:#EEEEEE;

	margin-left: auto;
	margin-right: auto;
	text-align:justify;
	padding:50px 50px 50px 50px; 
}

label{
	font-weight: bold;
}

div.commentEdit div textarea {
	width: 406px;
	min-width: 406px;
	max-width: 406px;
}
