/*CSS for Devise forgot password page */
div #forgotpass{
	width:50%;
	background-color:#EEEEEE;
	margin-left: auto;
	margin-right: auto;
	text-align:justify;
	padding:50px 50px 50px 50px; 
}

label{
	font-weight: bold;
}